@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.max-w-482px {
  max-width: 482px;
}

.custom-gray {
  background-color: #454e5a;
}

.custom-responsive-font {
  font-size: 8rem;
  font-size: min(max(19vw, 2rem), 8rem);
}

.temporary-footer {
  display: flex;
  gap: 29px;
  height: 200px;
  align-items: center;
  flex-wrap: wrap;
  background: #4b5563;
  color: antiquewhite;
  padding: 15px;
  width: 100%;
}

.loader {
  font-size: 48px;
  display: inline-block;
  position: absolute;
}
.loader:before {
  content: "";
  animation: 5s print linear alternate infinite;
}
.loader:after {
  content: "";
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translatey(-45%);
  width: 2px;
  height: 1.3em;
  background: currentColor;
  opacity: 0.8;
  animation: 1s blink steps(2) infinite;
}

@keyframes blink {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes print {
  0% {
    content: "L";
  }
  10% {
    content: "Lo";
  }
  20% {
    content: "Loa";
  }
  30% {
    content: "Load";
  }
  40% {
    content: "Loadi";
  }
  50% {
    content: "Loadin";
  }
  60% {
    content: "Loading";
  }
  70% {
    content: "Loading.";
  }
  80% {
    content: "Loading..";
  }
  90%,
  100% {
    content: "Loading...";
  }
}

.gridCustom {
  grid-template-columns: auto 1fr;
}
